.clear {
    clear: both;
}

.action {
    margin-right: 50px;
    position: relative;
}

.action .border {
    border-left: 44px solid #666; 
    border-top: 21px solid transparent; 
    border-bottom: 21px solid transparent; 
}
.action .border.pause {
    border: none; 
    border-left: 16px solid #666; 
    border-right:16px solid #666; 
    width: 12px; 
    height: 42px;
}

#play {
    border-left: 42px solid #fff; 
    border-top: 20px solid transparent; 
    border-bottom: 20px solid transparent; 
    float: left; 
    cursor: pointer;
    position: absolute;
    top: 1px;
    left: 1px;
}

#play.pause {
    border: none; 
    border-left: 14px solid #fff; 
    border-right:14px solid #fff; 
    width: 14px; 
    height: 40px;
}

.starter {
    margin: 0px auto; 
    width: 520px;
    margin-bottom: 20px;
}

.colorpick {
    width: 25px;
    height:25px;
    float: left;
    margin: -1px;
    cursor: pointer;
    border: 1px solid #444;
    color: #444;
    font-size: 20px;
}

.colorpick span {
    display: block;
    margin: 0px auto;
    width: 14px;
    line-height: 20px;
    font-family: Arial;
}

#canvas {margin: 0 auto; display: block;}
.reload {width: 25px; height: 25px; cursor: pointer; float: left; margin: -1px; background: linear-gradient(180deg, #e32636, #ff8800, #ffbf00, #3caa3c, #3a45f4); border: 1px solid #444;}
.colors {float: left; width: 170px; margin-right: 29px;}
.back-colors {float: left; width: 170px;}
.params {float: left; margin-top: 17px;}
.line-make {float: left; margin-right: 34px;}
.color-block {float: left;}
.thickness {float: left; margin-right: 20px;}
.thickness div:hover {background: #666;}
.thickness div {background: #fff; margin-bottom: 10px; cursor: pointer; width: 30px; border: 1px solid #666;}
.thickness .thin {height: 1px;}
.thickness .thick {height: 3px;}
.thickness .thicker {height: 7px;}

.length {float: left}
.length div:hover {background: #666;}
.length div {background: #fff; margin-right: 10px; cursor: pointer; float: left; width: 3px; border: 1px solid #666;}
.length .short {height: 7px;}
.length .long {height: 16px;}
.length .longer {height: 34px;}

.slider {width: 510px; height: 4px; background: #fff; position: relative; border-radius: 1px; padding-left: 10px; margin-top: 20px; border: 1px solid #666;}
.slider a {
    top: -7px;
    display: block;
    position: absolute;
    text-decoration: none;
    outline: none;
    width: 10px;
    height: 10px;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    text-shadow: 
        0px 0px 0px #666, 
        1px 0px 0px #666, 
        -1px 0px 0px #666, 
        0px -1px 0px #666,
        0px 1px 0px #666;
    font-size: 17px;
}
.ui-slider-horizontal .ui-slider-handle {margin-left: -6px;}